
.info-button-prevention {
  padding: 4px 8px;
  font-size: 14px;
  background: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;

}

.classTitlePrevention {
  position: absolute;
  top: 45px !important; 
  left: 118px !important;
  right: 50px !important;
  transform: none !important;
}