.rotate-button-general {
  padding: 5px 16px;
  font-size: 28px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.textTreatment {
  transform: none !important;
  top: 55px !important;
  left: 85px !important;
}

.rotate-box-general {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
  padding: 5px 10px;
  font-size: 15px;
  width: 150px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  white-space: pre-line;
}